</head>

<body>
  <header id="logoContainer">
      <h1 id="legend"><a href="/">AuthFlow</a></h1>
  </header>

  <% if( msg !== 'OK' ) { %>
    <div id="warningMessage">
      <p>
        <%= msg %>
      </p>
    </div>
  <% } %>

