  <footer>
    <nav>
      <li><a class="link" href="#">Terms</a></li>
      <li><a class="link" href="#">Privacity</a></li>
      <li><a class="link" href="#">Security</a></li>
      <li><a class="link" href="#">Contact</a></li>
    </nav>
  </footer>
</body>

</html>
