<%- include('./doctype.ejs'); %>

  <title>AuthFlow · 404</title>
  <style>
    <%- include('../static/css/base.css'); %>
  </style>

<%- include('./base-header.ejs'); %>

  <main>
    <h1>Not found page</h1>
  </main>

<%- include('./base-footer.ejs'); %>

